html,
body {
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.default-bg {
  background-color: rgb(44, 137, 255);
}



body {
  background-size: 100% auto;
  background-repeat: repeat-y;

  background: rgb(44, 137, 255);
  background: linear-gradient(135deg, rgba(55, 152, 255, 0.24) 0%, rgba(0, 4, 255, 0.267) 100%);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

p,
ul,
a {
  font-size: 1.25rem;
  font-weight: 400;
}

a {
  color: rgb(24, 24, 24);
}

input,
select {
  font-size: 1.25rem;
  font-weight: 400;

  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
}