html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-image: url("/layerstyle.png");
  background-size: 100% auto;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

p,
ul,
a {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  text-align: justify;
}

a {
  color: rgb(168, 162, 158);
}

section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
}